<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <!--<property name="hbm2ddl.auto">create</property>-->
    <property name="connection.connection_string_name">Default</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>

    
    <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider</property>
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.use_query_cache">true</property>
    
    <mapping assembly="NHibernateCourse.QuickStart"/>
    
  </session-factory>
</hibernate-configuration>